@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>A little bit about Fourth Coffee</h1>
    <p>
     hii this is praveen
    </p>
   </section>
Welcome to Devops training
<iframe src="https://giphy.com/embed/ftVlGZJKmgfr9jmww6" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/aunty-vigil-ftVlGZJKmgfr9jmww6">via GIPHY</a></p>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
